<!-- app/views/orders/_line_item.html.erb -->
<div class="line-item">
  <%= image_tag line_item.product.image.thumb.url, alt: line_item.product.name %>
  <div class="line-item-details">
    <h4><%= line_item.product.name %></h4>
    <p><%= line_item.product.description %></p>
  </div>
  <div class="line-item-quantity">
    <p>Quantity: <%= line_item.quantity %></p>
    <p>Total: <%= humanized_money_with_symbol(line_item.total) %></p>
  </div>
</div>
