<article>
  <%= link_to product_path(product) do %>
    <%= image_tag product.image.thumb.url, alt: product.name %>
    <h1>
      <span><%= product.name %></span>
      <span><%= humanized_money_with_symbol product.price %></span>
    </h1>
  <% end %>
    
 <div>
    <% if product.quantity > 0 %>
      <%= link_to product_path(product), class: 'btn', style: 'background-color: rgba(0, 130, 29, 0.7); color: white; font-weight: 700; float: right;' do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
      <% end %>
    <% else %>
      <div class="soldout">Sold Out</div>
    <% end %>


  </div>
</article>
